<a href="https://colab.research.google.com/github/DeclanFlynn/Course-work-May-2021/blob/main/Week_2_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Choosing a new home by set of criteria detailed below**

In [ ]:
import pandas as pd

Import data file from Github on house information for the area of interest

In [ ]:
!wget  "https://raw.githubusercontent.com/stmball/PracticalPython/main/Week_1/housing.csv"

--2021-05-03 13:02:24--  https://raw.githubusercontent.com/stmball/PracticalPython/main/Week_1/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24632 (24K) [text/plain]
Saving to: ‘housing.csv.1’

housing.csv.1       100%[===================>]  24.05K  --.-KB/s    in 0.001s

2021-05-03 13:02:24 (38.7 MB/s) - ‘housing.csv.1’ saved [24632/24632]

In [ ]:
houses = pd.read_csv("./housing.csv", index_col=0)
houses.head()

     price  lotsize  bedrooms  bathrms  ...  gashw airco garagepl prefarea
1  42000.0     5850         3        1  ...     no    no        1       no
2  38500.0     4000         2        1  ...     no    no        0       no
3  49500.0     3060         3        1  ...     no    no        0       no
4  60500.0     6650         3        1  ...     no    no        0       no
5  61000.0     6360         2        1  ...     no    no        0       no

[5 rows x 12 columns]

So we can see above a snapshot of available information, so now select the criteria i.e. price, number of bedrooms, number of bathrooms, if it has a driveway and if a preferred location,

Lets first construct a search for given criteria

In [ ]:
first_query = houses[["price","bedrooms","bathrms","driveway","prefarea"]]
print("first_query returns top ten",'\n',first_query.head(10))

first_query returns top ten
       price  bedrooms  bathrms driveway prefarea
1   42000.0         3        1      yes       no
2   38500.0         2        1      yes       no
3   49500.0         3        1      yes       no
4   60500.0         3        1      yes       no
5   61000.0         2        1      yes       no
6   66000.0         3        1      yes       no
7   66000.0         3        2      yes       no
8   69000.0         3        1      yes       no
9   83800.0         3        1      yes       no
10  88500.0         3        2      yes       no

Lets now order this data in terms of lowest price and include the other given criteria

In [ ]:
first_query_sorted = first_query.sort_values(by="price")
print("first_query returns top ten ob price",'\n',first_query_sorted.head(10))

first_query returns top ten ob price
        price  bedrooms  bathrms driveway prefarea
56   25000.0         2        1      yes       no
163  25000.0         3        1       no       no
233  25000.0         3        1      yes       no
57   25245.0         3        1       no       no
239  26000.0         2        1      yes       no
139  26500.0         2        1       no       no
244  27000.0         2        1      yes       no
13   27000.0         3        1      yes       no
185  28000.0         5        1       no       no
240  30000.0         4        1      yes       no

So now we can do the first query without the preferred area

In [ ]:
ideal_house = first_query_sorted[(first_query_sorted["price"]>0) & (first_query_sorted["bedrooms"]>=3) & (first_query_sorted["bathrms"]>=1) & (first_query_sorted["driveway"] == "yes")]
print("Ideal house any area ",'\n',ideal_house.head(10))

Ideal house any area
        price  bedrooms  bathrms driveway prefarea
233  25000.0         3        1      yes       no
13   27000.0         3        1      yes       no
240  30000.0         4        1      yes       no
60   30000.0         3        1      yes       no
245  32500.0         3        1      yes       no
74   34000.0         3        1      yes       no
241  34000.0         4        2      yes       no
75   35000.0         3        1      yes       no
59   35500.0         3        1      yes       no
23   37900.0         3        1      yes       no

So now we can do the second query with the preferred area

In [ ]:
ideal_house_prefer_area = first_query_sorted[(first_query_sorted["price"]>0) & (first_query_sorted["bedrooms"]>=3) & (first_query_sorted["bathrms"]>=1) & (first_query_sorted["driveway"] == "yes") & (first_query_sorted["prefarea"] == "yes")]
print("Ideal house any area ",'\n',ideal_house_prefer_area.head(10))

Ideal house any area
        price  bedrooms  bathrms driveway prefarea
459  44555.0         3        1      yes      yes
460  47000.0         3        1      yes      yes
461  47600.0         3        1      yes      yes
462  49000.0         3        1      yes      yes
463  49000.0         3        1      yes      yes
464  49000.0         3        2      yes      yes
465  49500.0         3        1      yes      yes
473  50000.0         3        1      yes      yes
441  51900.0         3        1      yes      yes
466  52000.0         3        1      yes      yes